@import "./Main.css";

.Main-Container{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--Main-BG-Colour);
}

.Auth-Container{
    position: relative;
    height: 75%;
    width: 70%;
    background-color: rgb(12, 12, 12);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}

.Auth-Container input{
    font-size: 18px;
    font-weight: 500;
}

.Start-Container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.Auth-Container a{
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
}

.Auth-Container h1{
    position: relative;
    font-size: 50px;
}

.Auth-Container p{
    position: relative;
    font-size: 20px;
}

.Login-Btn{
    position: absolute;
    padding: 20px 50px 20px 50px;
    background-color: var(--Primary-Colour);
    left: 2%;
    bottom: 2%;
}

.SignUp-Btn{
    position: absolute;
    padding: 20px 50px 20px 50px;
    background-color: var(--Primary-Colour);
    right: 2%;
    bottom: 2%;
}

.Login-Container{
    position: relative;
    right: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes SlideToLeft {
    from {right: 0;}
    to {right: -100%;}
}

.Start-Container.Hidden{
    position: absolute;
    animation-name: SlideToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    right: -100%;
}

@keyframes SlideToContainer {
    from {right: 100%;}
    to {right: 0%;}
}

.Login-Container.Show{
    position: absolute;
    animation-name: SlideToContainer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    right: 0%;
}

.Login-Container.Hidden{
    right: 100%;
}

.Login-Container.SignHidden{
    right: 100%;
}

.SignUp-Container.LogHidden{
    right: 100%;
}

.Login-BackBtn{
    position: absolute;
    background-color: var(--Primary-Colour);
    padding: 10px 20px 10px 20px;
    left: .4%;
    top: .4%;
}

.Login-Container form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Login-Container input{
    margin: 0px 0px 20px 0px;
    width: 50%;
    height: 7%;
    border-radius: 15px;
}

.Login-LoginBtn{
    padding: 20px 15% 40px 15%;
    background-color: var(--Primary-Colour);
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.SignUp-Container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.SignUp-Container form{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.SignUp-Container h1{
    position: absolute;
    top: 0%;
}

.SignUp-Container h2{
    margin: 12px 10px 25px 0px;
}

.SignUp-Container .NamesDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.SignUp-Container .InputsDiv{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: left;
    height: 100%;
}

.SignUp-Container input{
    margin: 0px 0px 10px 0px;
    width: 80%;
    height: 7%;
    border-radius: 15px;
}

.SignUp-SignUpBtn{
    position: absolute;
    width: 0px!important;
    padding: 20px 20% 40px 15%!important;
    background-color: var(--Primary-Colour);
    border: none;
    font-size: 15px;
    font-weight: 600;
    bottom: 10%;
}

.SignUp-Container.Show{
    position: absolute;
    animation-name: SlideToContainer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    right: 0%;
}

@media only screen and (max-width: 600px) {
    .Auth-Container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
}