{% extends "Base.html" %}
{% block head %}
    <title>Auth</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/Auth.css') }}">
{% endblock %}
{% block body %}
    <div class="Main-Container">
        <div class="Auth-Container">
            <div class="Start-Container {{HiddenStatus}}">
                <h1 class="Main-Gradient">Night</h1>
                <p>The All In One App</p>
                <a href="Auth/Login" class="Login-Btn AButton">Login</a>
                <a href="Auth/SignUp" class="SignUp-Btn AButton">Sign Up</a>
            </div>
            <div class="Login-Container {{LoginStatus}}">
                <form action="/Auth/Login" method="POST">
                    <a href="Return" class="Login-BackBtn AButton"><</a>
                    <h1 class="Main-Gradient">Night</h1>
                    <h2>Username</h2>
                    <input type="text" placeholder="Username or Email" name="Username">
                    <h2>Password</h2>
                    <input type="password" placeholder="Password" name="Password">
                    <input type="submit" class="Login-LoginBtn AButton"></input>
                </form>
            </div>
            <div class="SignUp-Container {{SignUpStatus}}">
                <form action="/Auth/SignUp" method="POST">
                    <a href="Return" class="Login-BackBtn AButton"><</a>
                    <h1 class="Main-Gradient">Night</h1>
                    <div class="NamesDiv">
                        <h2>Firstname</h2>
                        <h2>Lastname</h2>
                        <h2>Username</h2>
                        <h2>Email</h2>
                        <h2>Password</h2>
                    </div>
                    <div class="InputsDiv">
                        <input type="text" placeholder="Firstname" name="Firstname">
                        <input type="text" placeholder="Lastname" name="Lastname">
                        <input type="text" placeholder="Username" name="Username">
                        <input type="email" placeholder="Email" name="Email">
                        <input type="password" placeholder="Password" name="Password">
                    </div>
                    <input type="submit" class="SignUp-SignUpBtn AButton"></input>
                </form>
            </div>
        </div>
    </div>
{% endblock %}